<h1>Orbit Report</h1>

<div class="search-form">
	Search: <input #searchTerm type="text" (keyup.enter)="search(searchTerm.value);" name="searchTerm"/>
	<button (click)="search(searchTerm.value);">Search</button>
</div>

<app-orbit-counts [satellites]="displayList"></app-orbit-counts>

<!-- TODO 1: add list component to app HTML -->
<div>
	<app-orbit-list>
		<table>
			<tr class="header-row">
				<th (click)="sort('name')" class="sortable">Name</th>
				<th (click)="sort('type')" class="sortable">Type</th>
				<th>Operational</th>
				<th>Orbit Type</th>
				<th>Launch Date</th>
			</tr>
			<tr class="data-row">
				<td>GPS 938</td>
				<td>Positioning</td>
				<td>true</td>
				<td>HIGH</td>
				<td>2001-11-01</td>
			</tr>
		</table>
	</app-orbit-list>
</div>